html {
    height: 100%;
    width: 100%;
    margin: 0%;
}
body {
    display: flex;
    font-family: Arial;
    background-color: blue;
}
form {
    margin: auto;
}
.form_login {
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
    padding: 30px;
    font-size: 16px; 
    border: none;
    margin-top: 150px;
}
#title {
    text-align: center;
}
#input_1301160790 {
    border: none;
    border-bottom: 3px solid #ddd;
    outline: none;
    padding: 20px 2px 10px;
    width: 250px;
    font-size: 16px;
}
#input_1301160790:focus {
    border-bottom: 3px solid #badc58;
}
#submit_button {
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    background: #badc58;
    color: #ffffff;
    margin: 20px 0 0;
    padding: 0 15px 0;
}
#submit_button:hover {
    cursor: pointer;
	background: #a5c24e;
}
.button_login {
    text-align: center;
}