.nav-link{
    font-size: 12px;
    text-transform: uppercase;   
}
.navbar .nav-link{
    margin-left: 10px;
    margin-right: 10px;
    
}
.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
}
.jarak1{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.card:nth-child(1) {
    margin: 0px 10px 20px 40px;
}

.card:nth-child(2) {
    margin: 0px 10px 20px 10px;
}

.card:nth-child(3) {
    margin: 0px 40px 20px 10px;
}
.jarak2 h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
}

.jarak3{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.jarak3 .card:nth-child(1) {
    margin: 0px 10px 20px 40px;
}

.jarak3 .card:nth-child(2) {
    margin: 0px 10px 20px 10px;
}

.jarak3 .card:nth-child(3) {
    margin: 0px 40px 20px 10px;
}

.jarak4 h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
}

.jarak5 .row{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.jarak5 .card-img-top{
    width: 400px;
    height: 350px;
}

.jarak3 .card:nth-child(1) {
    margin: 0px 10px 20px 40px;
}

.jarak3 .card:nth-child(2) {
    margin: 0px 10px 20px 10px;
}

.jarak3 .card:nth-child(3) {
    margin: 0px 40px 20px 10px;
}

.jarak6 h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
}
.navbar .nav2{
    padding-top: 20px;
    padding-bottom: 20px;
    backgro
}
.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

